* {
	box-sizing: border-box;
}

body {
	margin: 0;
	background: #0b2434;
	padding: 40px;
	font-family: 'Karla', sans-serif;
}

#root {
	display: flex;
	justify-content: center;
}

main {
	width: 360px;
	max-width: 600px;
	height: 360px;
	margin: 70 auto;
	border-radius: 10px;
	background: #f5f5f5;
	display: flex;
	justify-content: center;
	align-items: center;
}

.container {
	display: grid;
	grid-template-rows: 1fr 1fr;
	grid-template-columns: repeat(5, 1fr);
	gap: 18px;
}

.die--face {
	width: 36px;
	height: 36px;
	border-radius: 4px;
	color: #2b283a;
	background: #fff;
	box-shadow: 0px 2px 2px 0px rgba(0, 0, 0, 0.15);
	display: flex;
	justify-content: center;
	align-items: center;
	cursor: pointer;
}

.die--face h2 {
	font-size: 1.5rem;
	font-weight: 700;
}
